.App {
  width: 400px;
  margin: auto;
  border: 1px solid darkgrey;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App .header{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid darkgray;
}

.App .header img{
  width: 20px;
  height: 20px;
  flex-grow: 1;
  opacity: 0.2;
  cursor: pointer;
}
.App .header img.check{
  opacity: 1;
  
}
.App .header img.hidden{
  opacity: 0;
  cursor: default;
}
.App .header input[type = "text"]{
  flex-grow: 9;
  border: none;
  font-size: 20px;
  padding: 10px 5px;
}
.App .header input[type = "text"]:focus{
  border: none;
  outline: none;
}
.App .header input[type = "text"]::placeholder{
  font-style: italic;
  color: #ebe8e7;
}

.App-link {
  color: #61dafb;
}
.App .Title{
  border-bottom: 1px solid darkgray;
  text-transform: uppercase;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App #status-bar{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 13px;
  color: darkgray;
  padding: 10px;
}
.App #status-bar #countItemsNotDone{
  flex-grow: 2;
  cursor: default;
}
.App #status-bar #filter-bar{
  flex-grow: 6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App #status-bar #clear-completed{
  flex-grow: 2;
  cursor: pointer;
}
.App #status-bar #clear-completed.hidden-completed{
  opacity: 0;
  cursor: default;
}
.App #status-bar #filter-bar #filter-all{
  margin: 0 5px;
  cursor: pointer;
}
.App #status-bar #filter-bar #filter-active{
  margin: 0 5px;
  cursor: pointer;
}

.App #status-bar #filter-bar #filter-completed{
  margin: 0 5px;
  cursor: pointer;
}
